
<div class="container">
  <div class="row">
  <div class="list-group" id="list-tab" role="tablist">
    <div class="col-sm list-group-item-dark bl-5 h2">
By :<%= @store.user.name%> / <%= @store.name%>
    </div>
</div>
  </div>
</div>

<% if(user_signed_in? ) %>
<% if(current_user.id == @store.user.id)%>
<%= link_to 'Edit store info' , edit_store_path(@store) %>  ||
<%= link_to 'Delete this store' , store_path(@store),method: :delete%> <br>
<%= link_to 'Add New Prodect' , new_store_product_path(@store) %>  

<% end %>
<% end %>


<div class="container " > 
<div class="row">
    <% @products.each do |product|%>
        <div class=" col-sm-12 col-lg-4 mb-4 ">
            <%= link_to store_product_path(@store ,product) do %>
            <img class="card-img-top " src=<%= product.image  %> alt="image ">
            <% end %>

            <div class="card-body my_card_color">
                <h5 class="card-title text-center " ><%= product.name%></h5>
            </div>
       </div>

    <% end %>
     </div> <!-- END OF ROW-->
</div> <!-- END OF Container -->
