<h1><%= @store.name %></h1>


<div class="container">
<div class="card col-sm-12 col-lg-11">
  <div class="card-header">
    <h1><%= @product.name%></h1>
  </div>
  <img class="card-img-top " style="width:100%" src="<%= @product.image%>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Price: <%= @product.price%> SAR</h5>
    <p class="card-text">In Stock :<%= @product.quantity%></p>
    <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
  </div>
</div>
</div>