
<div class=" my_name_store">

  <div class="row">
  <div class="list-group" id="list-tab" role="tablist">
    <div class="col-sm list-group-item-dark bl-5 h2 rounded-lg">
    
By :<%= @store.user.name%> <hr> <%= @store.name%>

    </div>
</div>
  </div>
</div>


<% if(user_signed_in? ) %>
<% if(current_user.id == @store.user.id)%><br>
<%= link_to 'Edit product info' , edit_store_product_path(@store , @product),class: "btn btn-info" %>
<%= link_to 'Delete this product' , store_product_path(@store),method: :delete ,class: "btn btn-danger"%>
 
<% end %>
<% end %>
<hr>
<!--

<div class="card col-sm-12 col-lg-10">
  <div class="card-header">
    
  </div>
  <div class="card-body">
      
  </div>
</div>
</div>
-->
<div class="container ">
<div class="card mb-6 col-ms-12 col-lg-11" >
  <div class="row no-gutters">
    <div class="col-5">

  <img class="card-img-top my-5"   src="<%= @product.image%>" alt="image ">
    </div>
    <div class="col-md-5 d-flex align-items-center">
      <div class="card-body">
        <h1 class="card-title"><%= @product.name%></h1>
        <hr>
        <h5 class="card-title">Price: <%= @product.price%> SAR</h5>
        <hr>
    <p class="card-text">In Stock :<%= @product.quantity%></p>
  
<!--        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
-->      </div>
    </div>
  </div>
</div>
</div>