

  <div class="row">
  <div class="list-group" id="list-tab" role="tablist">
    <div class="col-sm list-group-item-dark bl-5 h3">
By :<%= @store.user.name%> / <%= @store.name%>
    </div>
</div>
  </div>

<% if(user_signed_in? ) %>
<% if(current_user.id == @store.user.id)%>
<%= link_to 'Edit product info' , edit_store_product_path(@store , @product) %>  ||
<%= link_to 'Delete this store' , store_path(@store),method: :delete%> <br>
<%= link_to 'Add New Prodect' , new_store_product_path(@store) %>  

<% end %>
<% end %>


<div class="container">
<div class="card col-sm-12 col-lg-10">
  <div class="card-header">
    <h1><%= @product.name%></h1>
  </div>
  <img class="card-img-top " style="width:100%" src="<%= @product.image%>" alt="image ">
  <div class="card-body">
    <h5 class="card-title">Price: <%= @product.price%> SAR</h5>
    <p class="card-text">In Stock :<%= @product.quantity%></p>
    
  </div>
</div>
</div>
